*
{
  margin: 0;
  overflow-x: hidden;
}

body
{
  background-color: #00ADB5;
  text-align: center;
}

.container-fluid
{
  max-width:100%;
  width: 100%;
}

.head-title
{
  font-family: 'Cinzel', serif;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 5vh;
  padding: 10px;
}

.add-item-form
{
  margin: 1.5rem auto 5rem auto;
}

.display-2
{
  line-height: 1.5;
  margin-bottom: 3vh;
}

.section-separation
{
  margin-top: 8vh;
}

input[type=radio]
{
    height: 20px;
    width: 20px;
}

.card
{
  background-color: #222831;
  color: #EEEEEE;
}

.card-body
{
  background-color: #393E46;
}

.card ul li
{
  background-color: #222831;
  color: #EEEEEE;
}

.card-title
{
  line-height: 1.5;
}

.card-img-top
{
    object-fit: fill;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 991px)
{
  .card-img-top
  {
    height: 20vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
  .card-img-top
  {
    height: 12vw;
  }
}

@media (max-width: 767)
{
    .label
    {
      font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .label
    {
      font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px)
{
    .label
    {
      font-size: 18px;
    }
}

@media (min-width: 1200px)
{
    .label
    {
      font-size: 20px;
    }
}
